<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tutecentral.yukmenghafal"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="17" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity
            android:name="com.tutecentral.yukmenghafal.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tutecentral.yukmenghafal.ViewRegistrasi"
            android:label="@string/title_activity_view_registrasi" >
        </activity>        
        <activity
            android:name="com.tutecentral.yukmenghafal.ViewDaftarAyat"
            android:label="@string/title_activity_view_daftar_ayat">
        </activity>
        <activity
            android:name="com.tutecentral.yukmenghafal.ViewAyat"
            android:label="@string/title_activity_view_ayat">
        </activity>
 
    </application>

</manifest>